.book .book-body .page-wrapper .page-inner section.normal h1 {
  /*  margin-top: 1em; */
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
    margin-bottom: 2px;
}

.book .book-body .page-wrapper .page-inner section.normal h1, h2 {
    color: indigo;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    color: black;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h1, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h3  {
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
  color: indigo;
}

.markdown-section h1 {
  margin-top: 12px;
}

em {
	color: #058daf;
}

.markdown-section a, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
  color: #058daf;
}
